.public-quizees-page > .pagination {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.public-quizees-page > .pagination > div {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}

.public-quizees-page > .pagination > div > * {
    font-size: 1.8rem;
    color: white;
}

.public-quizees-page > .pagination > div > :nth-child(3) {
    transform: rotateY(180deg)
}