.rating-own > div {
    position: absolute !important;
    margin-top: 1% !important;
    width: 200% !important;
}

#rangeValue {
    position: relative !important;
    display: block !important;
    text-align: center !important;
    font-size: 25px !important;
    color: white !important;
    font-weight: 400 !important;
    text-align: center;
    width: 100% !important;
    margin: none !important;
    padding: none !important;
    margin-bottom: 10px;
}

.rating-own > div > .range {
    width: 100% !important;
    height: 30px !important;
    background-color: rgba(256, 256, 256, 0.3) !important;
    outline: none !important;
    border: none !important;
    border-radius: 15px !important;
    margin: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 800px;
        -webkit-appearance: none;
        background-color: #434343;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #434343;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: col-resize;
      background-color: transparent !important;
      border-left: 5px solid rgba(256, 256, 256, 0.6);
      box-shadow: -800px 0 0 795px rgba(256, 256, 256, 0.6);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #686868 !important;
}
input[type="range"]::-moz-range-track { 
    background-color: #ffffff !important;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.inputs > *{
    width: 33%;
    height: 30px;
}

.inputs > div {
    display: flex;
}

.inputs > div.left {
    justify-content: left;
}

.inputs > div.right {
    justify-content: right;
}

.inputs > div.center {
    justify-content: center;
}

.inputs > div > input{
    border-radius: 0 10px 10px 0px !important;
    border: 1px solid rgba(256, 256, 256, 0.3);
    align-items: center;

    background-color: white !important;
    border: none !important;
    outline: none;
    width: 20%;
    text-align: center;
}

.inputs > div > label{
    background-color: rgba(256, 256, 256, 0.24);
    border-radius: 10px 0px 0px 10px !important;
    border: 1px solid rgba(256, 256, 256, 0.3);

    padding-top: 3px;
    color: white;
    text-align: center;
    width: 20%;
}