.sticky-header {
    position: absolute !important;
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #011224 !important;
    width: 100% !important;
    z-index: 10 !important;
}

.sticky-header.hidden {
    visibility: hidden !important;
}